/* Base reset styles */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: var(--primary-text-clr);
    font-family: var(--font);
    font-size: var(--primary-text-size);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: var(--primary-text-clr) dotted 1px;
  outline-offset: .05em;
}

/* Vars and grid styles */

:root {
    --font: Arial, Helvetica, sans-serif; 
    --primary-text-size: 16px;
    --primary-text-clr: #000000;
    --secondary-title-clr: magenta;
    --secondary-text-clr: red;
    --primary-btn-clr: tomato;
    --btn-text-clr: #ffffff;
}

.main {
    flex: 1 1 auto;
    padding: 1rem 0;
}

.container {
    width: 100%;
    max-width: calc(1200px - 1em);
    padding: 0 1em;
    margin: 0 auto;
}

/* Header section */
.header {
    padding: 1rem 0;
}

.header__title {
    margin-bottom: .8rem;
}

/* Product list in main block */
.product {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card in product list */
.card {
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__body {
    text-align: center;
    display: flex;
    flex-direction: column; 
    padding: 0 .8rem;
    gap: 10px;
}

.card__footer {
    display: flex;
    justify-content: center;
}

.card__image {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}

.card__title {
    color: var(--secondary-title-clr);
    font-size: 1.4em;
}

.card__price {
    color: var(--secondary-text-clr);
    font-size: 1.3em;
}

.card__description {
    font-size: 1.2em;
}

.card__button {
    background-color: var(--primary-btn-clr);
    color: var(--btn-text-clr);
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/* Footer section */
.footer {
    background-color: #1b1b25;
    padding: 2rem 0;
}

.copy {
    color: var(--btn-text-clr);
}