/* Vars */
:root {
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Roboto', Arial, Helvetica, sans-serif;
    --primary-text-size: 16px;
    --primary-text-clr: #ffffff;
    --primary-link-clr: #FF710B;
    --primary-bg-clr:#590BFF;
    --secondary-bg-clr:#C4C4C4;
    --secondary-text-clr: #000000;
}

/* Base reset styles */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: var(--secondary-text-clr);
    font-family: var(--secondary-font);
    font-size: var(--primary-text-size);
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: var(--primary-text-clr) dotted 1px;
  outline-offset: .05em;
}

/* Флекс структура страницы */
.page-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-grid__section {
    flex: 1 1 auto;
    padding: 0 1rem;
}

.page-grid__section_header {
    flex-basis: 100%;
    height: fit-content;
}

.page-grid__section_sidebar {
    width: 100%;
}

.page-grid__section_main {
    max-width: 1080px;
}

.page-grid__section_footer {
    flex-basis: 100%;
    margin-top: auto;
    height: fit-content;
}


/* Header styles */
.header {
    background-color: var(--primary-bg-clr);
    padding-top: 13px;
    padding-bottom: 13px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__title {
    color: var(--primary-text-clr);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 36px;
}

/*  Sidebar styles */
.sidebar {
    font-family: var(--secondary-font);
    position: relative;
    align-self: baseline;
    min-height: auto;
    z-index: 0;
}

.sidebar::before {
    content: '';
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--secondary-bg-clr);
}

.sidebar__title {
    font-size: 28px;
    margin-bottom: 23px;
}

.sidebar__list {
    padding: .5rem;
}

.sidebar__item {
    padding-left: .5rem;
    margin-bottom: 12px;
}

.sidebar__link {
    color: var(--primary-link-clr);
    font-size: 24px;
}

/* Main block styles */
.main {
    padding-left: 1rem;
    z-index: 0;
}

/* Adress book section scrollbar styles */
.main__section {
    height: 500px;
    overflow-y: auto;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.main__section::-webkit-scrollbar {
    width: 20px;
}
  
.main__section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
  
.main__section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: var(--primary-bg-clr);
}

/* Adress book styles */
.addressbook {
    padding-right: .8rem;
}

.addressbook__header {
    background-color: var(--primary-bg-clr);
    padding: .5rem;
    position: sticky;
    top: 0;
}

.addressbook__title {
    color: var(--primary-text-clr);
}

.addressbook__list {
    padding: .5rem;
}

.addressbook__item {
    padding: .5rem 0 .5rem .5rem;
    border-bottom: 1px solid var(--secondary-bg-clr);
}

.addressbook__text {
    font-size: 28px;
}

/* Footer styles */
.footer {
    background-color: var(--primary-bg-clr);
    color: var(--primary-text-clr);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer__text {
    font-size: 17px;
}

/* Media queries mobile first */
@media (min-width: 557px) {

    .page-grid__section_sidebar {
        max-width: 285px;
    }

    .header__title {
        font-size: 54px;
    }

    .sidebar {
        min-height: 450px;
    }

    .sidebar::before {
        display: block;
    }

    .main {
        padding-left: 48px;
    }

    .footer__text {
        font-size: 24px;
    }
}