/* Флекс структура страницы */
.page-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-grid__section {
    flex: 1 1 auto;
    padding: 0 1rem;
}

.page-grid__section_header {
    flex-basis: 100%;
    height: fit-content;
}

.page-grid__section_sidebar {
    width: 100%;
}

.page-grid__section_main {
    max-width: 1080px;
}

.page-grid__section_footer {
    flex-basis: 100%;
    margin-top: auto;
    height: fit-content;
}