/* checkbox active animations */
@keyframes s-ripple {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    20% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
       transform: translate(-50%, -50%) scale(0);
    }
    30% {
        transform: translate(-50%, -50%) scale(1);
    }
    60% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}

:root {
    --font: 'Roboto', Arial, Helvetica sans-serif;
    --primary-bg-clr: #1B2473;
    --secondary-bg-clr: #ffffff;
    --primary-text-clr: #787878;
    --secondary-text-clr: #cccccc;
    --btn-text-clr: var(--secondary-bg-clr);
    --btn-bg-clr: #1A226B;
    --flex-gap: 16px;
}

/* Base reset styles */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: #cccccc;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline:  3px dotted var(--primary-text-clr);
  outline-offset: .1em;
}

.form-section {
    background-color: var(--primary-bg-clr);
    display: flex;
    height: 100vh;
    padding: 20px;
    justify-content: center;
}

.form {
    background-color: var(--secondary-bg-clr);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:  38px 45px;
    width: 100%;
}


.form_direction {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.form__item {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

.form__item_v-paddings_size {
    padding-top: calc(64px - var(--flex-gap));
}

.form__item_direction {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form__title {
    color: var(--primary-text-clr);
    font-family: var(--font);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.form__label {
    color: var(--primary-text-clr);
    font-family: var(--font);
    font-size: 24px;
}

.form__label_small {
    font-size: 18px;
}

.form__input {
    background: inherit;
    border: 2px solid var(--primary-text-clr);
    border-radius: 10px;
    color: var(--primary-text-clr);
    padding: 7px 12px;
    font-size: 28px;
    line-height: 36px;
}

.form__input:valid {
    outline-offset: .1em;
    outline:  3px dotted #6db500;;
}

.form__input::placeholder {
    color: var(--secondary-text-clr);
}

.form__input:hover {
    border-color: #000;
}


.form__custom-checkbox {
    --checkbox-aspect-ratio: 32px;

    border: 2px solid var(--secondary-text-clr);
    border-radius: 7px;
    position: relative;
    height: var(--checkbox-aspect-ratio);
    width: var(--checkbox-aspect-ratio);
    aspect-ratio: 1;
    z-index: 0;
}

.form__input_type_checkbox:focus + .form__custom-checkbox {
    box-shadow: none;
    outline:  2px dotted var(--primary-text-clr);
    outline-offset: .05em;
}

.form__custom-checkbox::after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
    left: 50%;
    top: 40%;
    width: 8px;
    height: 16px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.form__custom-checkbox::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    background: var(--primary-bg-clr);
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0);
}

.form__input_type_checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.form__input_type_checkbox:checked + .form__custom-checkbox {
    background-color: var(--primary-bg-clr);
}

.form__input_type_checkbox:disabled{
    background-color: var(--secondary-text-clr);
    pointer-events: none;
}


.form__input_type_checkbox:checked ~ .form__custom-checkbox::after {
    display: block;
}

.form__button {
    background-color: var(--btn-bg-clr);
    border-radius: 10px;
    color: var(--btn-text-clr);
    cursor: pointer;
    font-family: var(--font);
    font-size: 32px;
    padding: 32px 64px;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    transition: box-shadow 0.2s ease;
}

.form__button:hover {
    box-shadow: -1px 5px 22px -5px var(--primary-bg-clr);
}

.form__button:active {
    box-shadow: -2px -2px 5px var(--btn-bg-clr), 2px 2px 5px var(--primary-bg-clr);
}

.form__input_type_checkbox + .form__custom-checkbox::before {
    animation: s-ripple 250ms ease-out;
}

.form__input_type_checkbox:checked + .form__custom-checkbox::before {
    animation-name: s-ripple-dup;
}

@media screen and (min-width: 768px) {
    
    .form-section {
        padding-top: 82px;
    }
    
    .form {
        height: fit-content;
        padding: 26px 46px;
        max-width: 600px;
    }

    .form__item {
        gap: 3px;
    }
    
    .form__item_direction {
        gap: 10px;
    }

    .form__item_v-paddings_size {
        padding-top: calc(52px - var(--flex-gap));
    }
    
    .form__title {
        font-size: 50px;
    }
    
    .form__label {
        font-size: 16px;
    }
    
    .form__custom-checkbox {
        --checkbox-aspect-ratio: 24px;
    }

    .form__custom-checkbox::after {
        width: 6px;
        height: 12px;
    }

    .form__label_small {
        font-size: 14px;
    }
    
    .form__button {
        font-size: 24px;
        padding: 18px 56px;
    }
}